{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
	<div class="bg-black">
		<div>
			<ul class="navbar navbar-fixed-top">
			<li class ="nav-kiri"> <span> Reynaldo Wijaya Hendry </span> </li>
      <li class="Nav-li"> <a href="/kegiatan"> Create Event </a> </li>
        <li class="Nav-li"> <a href="/listkegiatan"> List Event </a> </li>
			<li class="Nav-li"> <a href="http://rwhendry.github.io"> My Website </a> </li>
			<li class="Nav-li"> <a href="http://rwhendry.blogspot.com"> My Blog </a> </li>
			<li class="Nav-li"> <a href="http://linkedin.com/in/rwhendry"> My Profile </a> </li>
			<li class="Nav-li"> <a href="/register"> Register </a> </li>
	        </ul>
		</div>
		 <div class = "middle">
	        <span class = "fontsize48"> Hello, My Name is</span>
	        <br/>
	        <span class = "fontsize48"> Reynaldo Wijaya Hendry </span>
	        <br>
	        <div class = "fontsize48 magerbet"> Welcome to My Website </div>
	        <Arrow/>
	    </div>
	     <div class="container-fluid mar-top-kecil">
         	<div class="col-md-4">
         		<img class = "img-responsive" src="{% static 'images/rey1.jpg' %}" class="img"/>
         	</div>
			<div class="col-md-8">
				<h3 class="font-size24"> Name : Reynaldo Wijaya Hendry </h3>
				<h3 class="font-size24"> Birth Place : Batam </h3>
				<h3 class="font-size24"> Birth Date : 5th November 1999 </h3>
				<h3 class="font-size24"> Education : Faculty of Computer Science, Universitas Indonesia </h3>
				<h3 class="font-size24"> Skill : Golang, Python, Java, C++, React.Js </h3>
				<h3 class="font-size24"> Area of Interest : Data Science, Software Engineer</h3>
			</div>
        </div>
		 <div class="container-fluid mar-top-kecil">
			<h1 class="mar-bot-kecil mar-left-kecil"> Working Experiences </h1>
         	<div class="col-md-4">
         		<img class = "img-responsive" src="{% static 'images/tokopedia.jpg' %}" class="img"/>
         	</div>
			<div class="col-md-8">
				<h3 class="font-size32"> Software Engineering Intern </h3>
				<h4 class="font-size24"> June 2018 - September 2018 </h3>
				<h4 class="font-size24"> Jakarta, Indonesia</h3>
				<br>
				<div class="font-size24">
					Working Using Golang in Logistic Tribe. Migrating API from another tribe to Logistic Tribe.
				</div>
			</div>
        </div>

		 <div class="container-fluid mar-top-kecil">
			<h1 class="mar-bot-kecil mar-left-kecil"> Education </h1>
         	<div class="col-md-4">
         		<img class = "img-responsive" src="{% static 'images/logoui.jpg' %}" class="img"/>
         	</div>
			<div class="col-md-8">
				<h3 class="font-size32"> Universitas Indonesia </h3>
				<h4 class="font-size24"> 2017 - 2021 (Expected) </h3>
				<h4 class="font-size24"> Depok, Indonesia</h3>
				<br>
				<div class="font-size24">
					Undegraduate Student in Faculty of Computer Science. Course taken : Foundations of Programming, Discrete Mathematics, Intorduction to Digital System, Competitive Programming. Teaching Assistant for Foundations of Programming 1.
				</div>
			</div>
        </div>

		<div class="container-fluid mar-top-kecil">
			<h1 class="mar-bot-kecil mar-left-kecil"> <a href="/organization"> Organization and Event Experience (Click to know more) -> </a> </h1>
         	<div class="col-md-4">
         		<img class = "img-responsive" src="{% static 'images/compfest.jpg' %}" class="img"/>
         	</div>
			<div class="col-md-8">
				<h3 class="font-size32"> Scientific Committee Competitive Programming Competition </h3>
				<h4 class="font-size24"> February 2018 - September 2018 </h3>
				<br>
				<div class="font-size24">
					Creating Competitive Programming problems and preparing it for the Competitive Programing Competition.
				</div>
			</div>
        </div>

		<div class="container-fluid mar-top-kecil">
			<h1 class="mar-bot-kecil mar-left-kecil"> Achievements </h1>
			<div class="mar-left-kecil">
				<h3 class="font-size32"> Top 12 National Team ACM-ICPC Jakarta </h3>
				<h4 class="font-size24"> November 2018 </h3>
				<br>
				<div class="font-size24">
					ACM-ICPC Jakarta is one of the ACM-ICPC Regional Contests. With around 100 teams participating. Our team managed to become one of the top 12th natioanal team.
					<br>
					Team Name : Alfura is Back
					<br>
					Team Profile : Reynaldo Wijaya Hendry, Muhammad Indra Ramadhan, Alfian Fuadi Rafli
				</div>
			</div>
        </div>

		<div class="container-fluid mar-top-kecil">
			<h1 class="mar-bot-kecil mar-left-kecil"> Skills </h1>
			<div class="mar-left-kecil">
				<h4 class="font-size24"> Go </h4>
				<h4 class="font-size24"> React.Js </h4>
				<h4 class="font-size24"> Java </h4>
				<h4 class="font-size24"> C++ </h4>
				<h4 class="font-size24"> Python </h4>
				<h4 class="font-size24"> Pandas </h4>
			</div>
        </div>

	</div>
</body>
</html>
