{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
	<div class="bg-black">
    <div>
      <ul class="navbar navbar-fixed-top">
      <li class ="nav-kiri"> <span> Reynaldo Wijaya Hendry </span> </li>
      <li class="Nav-li"> <a href="/kegiatan"> Create Event </a> </li>
        <li class="Nav-li"> <a href="/listkegiatan"> List Event </a> </li>
      <li class="Nav-li"> <a href="http://rwhendry.github.io"> My Website </a> </li>
      <li class="Nav-li"> <a href="http://rwhendry.blogspot.com"> My Blog </a> </li>
      <li class="Nav-li"> <a href="http://linkedin.com/in/rwhendry"> My Profile </a> </li>
      <li class="Nav-li"> <a href="/register"> Register </a> </li>
          </ul>
    </div>
		<h1 class="mar-left-kecil mar-top-200"> Tambahkan Kegiatan </h1>
		<div class="container">
		  <form action="/kegiatan" method="post">
      {% csrf_token %}
			<div class="form-group mar-top-50">
			  <label>Nama Kegiatan: </label>
			  <input name = "nama" type="text" class="form-control" placeholder="Masukkan nama">
			</div>
      <div class="form-group">
			  <label>Tempat: </label>
			  <input name="tempat" type="text" class="form-control" placeholder="Masukkan tempat">
			</div>
			<div class="form-group">
			  <label>Tanggal: </label>
			  <input name="waktu" type="date" class="form-control" placeholder="Masukkan Tanggal">
			</div>
      <div class="form-group">
        <label for="appt-time">Masukkan Jam: </label>
        <input name="jam" class="font-black form-control" type="time"
               min="00:00" max="24:00" required>
        <span class="validity"></span>
      </div>
      {% if error %}
      <h5 class="red-color"> Terjadi kesalahan dalam pengimputan, hal ini bisa disebabkan karena format input yang salah</h5>
      {% endif %}
			<input type="submit" class="btn btn-default">
		  </form>
      <form class="mar-top-50" action="/removeall" method="post">
        {% csrf_token %}
        <input value="Hapus semua kegiatan" type="submit" class="btn btn-default">
      </form>
      <div class="padding-bottom-500">
      </div>
		</div>
	</div>
</body>
</html>
