{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div>
      <div>
  			<ul class="navbar navbar-fixed-top">
  			<li class ="nav-kiri"> <span> Reynaldo Wijaya Hendry </span> </li>
        <li class="Nav-li"> <a href="/kegiatan"> Create Event </a> </li>
          <li class="Nav-li"> <a href="/listkegiatan"> List Event </a> </li>
  			<li class="Nav-li"> <a href="http://rwhendry.github.io"> My Website </a> </li>
  			<li class="Nav-li"> <a href="http://rwhendry.blogspot.com"> My Blog </a> </li>
  			<li class="Nav-li"> <a href="http://linkedin.com/in/rwhendry"> My Profile </a> </li>
  			<li class="Nav-li"> <a href="/register"> Register </a> </li>
  	        </ul>
  		</div>
      <div class="mar-top-200">
        {% if list_kegiatan %}
        <div class="panel-group mar-top">
          <div class="panel panel-default">
            {% for kegiatan in list_kegiatan %}
            <div class="panel-heading"> <h5> {{ kegiatan.namakegiatan }} </h5> </div>
            <div class="panel-body font-black">
              waktu = {{ kegiatan.waktu}} <br />
              tempat = {{kegiatan.tempat}}
            </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <h1>Tidak ada Kegiatan untuk ditampikan</h1>
        {% endif %}
        </div>
      </div>
  </body>
</html>
