<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="bg-black">
		<div class="container-fluid mar-top-kecil">
         	<div class="col-md-4">
         		<img src="{% static 'images/iatoki.jpg' %}" class="img"/>
         	</div>
			<div class="col-md-8">
				<h3 class="font-size32"> Scientific Committee IA-TOKI </h3>
				<h4 class="font-size24"> February 2018 - Now </h3>
				<br>
				<div class="font-size24">
					Preparing and Teaching High School Student for them to prepare for International Olympiad in Informatics (IOI).
				</div>
			</div>
        </div>
		<div class="container-fluid mar-top-kecil">
				<div class="col-md-4">
					<img src="{% static 'images/facebook.jpg' %}" class="img"/>
				</div>
				<div class="col-md-8">
					<h3 class="font-size32"> This Is Dummy </h3>
					<h4 class="font-size24"> February 2018 - September 2018 </h3>
					<br>
					<div class="font-size24">
						Lorem Ipsum Sir Dolot bla bla bla bla bla and bla bla bla bla.
					</div>
				</div>
        </div>
	</div>
  <button onclick="future">Masa depan</button>
  <div id="future">
  </div>
</body>
<script>
  function future() {
    $.ajax('http://demo6469044.mockable.io/indrawibu', function(data) {
      $('#future').html(data)
    })
  }
</script>
</html>
