{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
	<div class="bg-black">
		<h1 class="mar-left-kecil mar-top-200"> Registrasi Akun </h1>
		<div class="container">
		  <form>
      {% csrf_token %}
			<div class="form-group mar-top-50">
			  <label>Nama: </label>
			  <input id="name" type="text" class="form-control" placeholder="Masukkan nama">
			</div>
			<div class="form-group">
			  <label>Email: </label>
			  <input id="email-box" onchange="validate()" type="text" class="form-control" placeholder="Masukkan email">
        <h5 class="font-red" id="email-valid"></h5>
			</div>
			<div class="form-group">
			  <label>Password: </label>
			  <input id="password" type="password" class="form-control" placeholder="Masukkan password">
			</div>
			<button id="registrasi" type="button" class="" disabled>Submit</button>
      <h5 id="info-submit"></h5>
      <div id="list-data">
        {% for data in dataregistran %}
        <div id="list{{forloop.counter}}">
          <h3 id="email{{forloop.counter}}">{{data.email}}</h3>
          <div id="div{{forloop.counter}}">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{forloop.counter}}">
              Unsuscribe
            </button>
          </div>
        </div>
        <div class="modal fade" id="modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body font-black">
                Do you really want to unsuscribe? Input you password below to confirmate.
                <input id="passwordconfirmation{{forloop.counter}}" type="password"> </input>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick=unsub({{forloop.counter}}) data-dismiss="modal">Are you sure</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="padding-bottom-500">
      </div>
		  </form>
		</div>
	</div>
</body>
<script src="{% static 'story10.js' %}"> </script>
</html>
